
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twitter Time!</title>
    <link rel="stylesheet" href="/css/site.css"/>
      <script src="/js/jquery-3.4.1.js" type="text/javascript"></script>
    </head>
  <body>
      <h1>Twitter Time!</h1>
<h2>Twitter Stuff</h2>
<main>
    <div class="feed-container">
        <header>
            <a href="/posts">Feed</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
            <a href="/twitter">Twitter</a>
        </header>
        <form class="search-form" method="post" action="/twitter" id="search-form">
        <div class="search-input">
            <label for="searchbox">Search Tweets </label>
            <input type="text" id="searchbox" name="searchbox">
        </div>
        <button type="submit">Search</button>
        </form>
        <div class="twitter-feed">
            <ul class="tweet-list">
                <li>
                    <p class="tweet">東京ズーネット［公式］ tweets: しっぽが みじかく なりまして…

※写真は治療中のパルマワラビー。雑食性のワラビーは他個体の傷口を舐めてしまうことがあります。この子どもは傷のできた尾をおとなに舐められ、尾は約2/3の長さに。隔離して治療中。回復の兆しが見えてき… https://t.co/I9aFxudwbd</p>
                </li>
                <li>
                    <p class="tweet">LADbible tweets: Nothing beats a trip to the zoo... 😂 https://t.co/F2aIM6ujVf</p>
                </li>
                <li>
                    <p class="tweet">上野動物園［公式］ tweets: 「シースルーソックス 各税込1,296円」上野動物園では、ほのぼの可愛いジャイアントパンダ柄と、ちょっとクールなハシビロコウ柄を販売中！魅力的に仕上がっています♪ https://t.co/vCFLjwrgud #uzoo_g https://t.co/VdzK1bwSVB</p>
                </li>
                <li>
                    <p class="tweet">CNEWS tweets: Un couple de manchots gays adopte un oeuf au zoo de Berlin
https://t.co/qbyTHEMC45</p>
                </li>
                <li>
                    <p class="tweet">PETA France tweets: ZOO 🦏 Un rhinocéros est retrouvé avec le dos gravé de deux prénoms.
Comment se fait-il que les visiteurs puissent a… https://t.co/zjagkHktCK</p>
                </li>
                <li>
                    <p class="tweet">Reuters Top News tweets: Bullfrogs, pythons and penguins were among creatures being coaxed onto the scales at London Zoo this week for an an… https://t.co/aene5VXQa9</p>
                </li>
                <li>
                    <p class="tweet">Reuters Top News tweets: From penguins to porcupines, animals hit the scales for London Zoo&#x27;s annual weigh-in https://t.co/ac324H2IZS https://t.co/6s8le8LH8K</p>
                </li>
                <li>
                    <p class="tweet">Electric Zoo tweets: Sneak peek for next week 👀

Our tallest &amp;amp; widest mainstage ever  —
an evolved, futuristic, 3-D, fire-shooting New Y… https://t.co/89ngmf3y2H</p>
                </li>
                <li>
                    <p class="tweet">Reuters Top News tweets: London Zoo launches its trickiest annual task - the weigh-in. More here: https://t.co/8yQKuO5540 https://t.co/XUuLiJnv73</p>
                </li>
                <li>
                    <p class="tweet">Reuters Top News tweets: WATCH: Trio of newborn rock hyraxes makes debut at UK zoo https://t.co/FzYwiTvBkD</p>
                </li>
                <li>
                    <p class="tweet">Reuters Top News tweets: Penguins to porcupines hit the scales for London Zoo&#x27;s annual weigh-in. More here: https://t.co/8yQKuNNtFq https://t.co/xpUZyaLnPB</p>
                </li>
                <li>
                    <p class="tweet">Planet Zoo tweets: Animal welfare is at the heart of Planet Zoo, so Vets are vital in keeping your animals healthy and thriving.… https://t.co/1nM3naWTYK</p>
                </li>
                <li>
                    <p class="tweet">CGTN tweets: Live: CGTN takes you on a tour of the Malaysia&#x27;s national zoo to explore a panda&#x27;s life https://t.co/sifWEJZgqN</p>
                </li>
                <li>
                    <p class="tweet">Acacia Kersey tweets: Zoo wee mama https://t.co/74YWG9xhtN</p>
                </li>
                <li>
                    <p class="tweet">ABC News tweets: Bei Bei the panda enjoyed a cake made of frozen fruits, diluted juices and vegetables in the shape of a numeral 4 t… https://t.co/wpIOwa5GUb</p>
                </li>
            </ul>
        </div>
        <footer>
            <a href="/posts">Feed</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
            <a href="/twitter">Twitter</a>
        </footer>
    </div>
</main>
  </body>
</html>